<template>
    <div>
        <canvas id="myChart" class="graphCanvas"></canvas>
    </div>
</template>

<script>
    import Chart from 'chart.js'

    export default {
        name: "CovidGraphComponent",

        props: ['tests', 'infected', 'dead', 'recovered'],

        data: function() {
            return {};
        },

        mounted: function() {

            var tests = [
                this.tests,
                this.infected,
                this.recovered,
                this.dead
            ];

            var ctx = $('#myChart');

            var data = {
                datasets: [{
                    data: tests,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(75, 192, 192, 0.2)'],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(75, 192, 192, 1)'],
                    borderWidth: 1
                }],
                labels: [
                    'Testovaní',
                    'Nakažení',
                    'Uzdravení',
                    'Mrtví'
                ],
                options: {}
            };

            var myChart = new Chart(ctx, {
                type: 'pie',
                data: data,
                options: {}
            });

        }

    }
</script>

<style scoped>
    .graphCanvas {
    }
</style>
