<template>
    <form class="p-2">
        <div class="text-gray-800 text-sm mb-2">
            Víte o restauraci, o které nevíme? Dejte nám vědět.
            Kliknutím do mapy zjistěte souřadnice, napište název a pošlete nám info.
        </div>

        <div v-if="show_inserted" class="bg-green-200 border rounded border-green-600 p-4 mb-2 text-green-900">
            Děkujeme za nový podnik, po schválení administrací (asi do 1h) se zobrazi v mapě.
        </div>

        <div v-if="show_error" class="bg-red-200 border rounded border-red-600 p-4 mb-2 text-red-900">
            Při vkládáni se vyskytla chyba.
        </div>

        <div class="mb-2">
            <label for="title" class="block uppercase text-sm">Jméno podniku:</label>
            <input id="title" name="title" placeholder="Název podniku" type="text" v-model="title" class="border shadow-inner w-full p-1"/>
        </div>
        <div class="mb-2">
            <div class="flex">
                <div class="w-1/2 mr-2">
                    <label for="geo_lat" class="block uppercase text-sm">Lat:</label>
                    <input id="geo_lat" name="geo_lat" placeholder="50.1xx" type="text" v-model="geo.lat" class="border shadow-inner w-full p-1"/>
                </div>
                <div class="w-1/2">
                    <label for="geo_lng" class="block uppercase text-sm">Lng: </label>
                    <input id="geo_lng" name="geo_lng" placeholder="14.3xx" type="text" v-model="geo.lng" class="border shadow-inner w-full p-1"/>
                </div>
            </div>
            <small class="text-gray-600">Souřadnice získáte kliknutím v mapě</small>

        </div>
        <div class="inline-block relative mb-2 w-full">
            <label for="type" class="block uppercase text-sm">Typ místa:</label>
            <select id="type" v-model="type" @change="showContact" class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-1 py-1 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                <option value="takeaway" selected>Okénkový prodej jídla</option>
            </select>
            <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
                </svg>
            </div>
            <small class="block text-gray-600">Poskytovaná služba v místě</small>
        </div>

        <div v-if="show_contact" class="mb-2">
            <label for="contact" class="block uppercase text-sm">Kontakt:</label>
            <input id="contact" name="contact" type="text" placeholder="Telefonní číslo" v-model="contact" class="border shadow-inner w-full p-1 disabled" disabled/>
            <small class="block text-gray-600">Zatím se k ničemu nepoužívá</small>
        </div>

        <div class="w-full flex text-right">
            <button type="button" @click.prevent="save" class="justify-end rounded bg-green-400 hover:bg-green-600 text-white p-2 px-4 ">Uložit</button>
        </div>
    </form>
</template>

<script>
    import { bus } from '../app';

    export default {
        data: function() {
            return {
                // alert view parameters
                show_contact: false,
                show_error: false,
                show_inserted: false,

                // fields
                contact: '',
                title: '',
                type: 'takeaway',
                geo: {
                    lat: '',
                    lng: '',
                },
            }
        },

        created() {
            bus.$on('onLocationClicked', (data) => {
                this.geo = data.geo;
            });
        },

        methods: {
            showContact: function() {
                if (this.type === 'mask') {
                    this.show_contact = true;

                    return;
                }

                this.show_contact = false;
            },

            save: function() {
                axios.put('/api/sources', {
                    title: this.title,
                    lat: this.geo.lat,
                    lng: this.geo.lng,
                    type: this.type,
                }).then((response) => {
                    this.show_inserted = true;
                    setTimeout(() => {
                        this.show_inserted = false;
                    }, 3000);
                }).catch((e) => {
                    this.show_error = true;
                    setTimeout(() => {
                        this.show_error = false;
                    }, 3000);
                });

                this.title = '';
                this.geo = {
                    lat: '',
                    lng: ''
                };
            },
        }
    }
</script>
