<template>
    <div id="div_map" class="div_map"></div>
</template>

<script>
    import { bus } from '../app';

    export default {
        name: "MapComponent",

        data: function() {
            return {
                map: null,
                center: [50.10060404642972, 14.395428065815738],
            }
        },

        mounted: function() {
            this.map = L.map('div_map'); //.setView(this.center, 17);

            // start map
            this.loadMap();

            // sets view
            this.getNavigation();

            // load data
            this.loadData();
        },

        methods: {
            getNavigation: function() {
                this.map.setView(this.center, 17);

                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition((latlng) => {
                        this.center = [
                            latlng.coords.latitude,
                            latlng.coords.longitude
                        ];

                        this.map.setView(this.center, 17);
                    });
                }
            },

            loadMap: function() {
                // mapove podklady : http://www.geotrebic.cz/gtwiki/doku.php?id=geo:help:gmemap
                let maps = [
                    {
                        title: 'Mapy.cz',
                        map: 'https://mapserver.mapy.cz/base-m/{z}-{x}-{y}',
                        attribution: '© <a href=\'https://www.seznam.cz\' target=\'_blank\' rel=\'noopener\'>Seznam.cz, a.s.</a>, © <a href=\'https://www.openstreetmap.org/copyright\' target=\'_blank\' rel=\'noopener\'>OpenStreetMap</a>'
                    },
                    {
                        title: 'OpenStreet',
                        map: 'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png',
                        attribution: '&copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, Tiles courtesy of <a href="https://geo6.be/">GEO-6</a>'
                    },
                    {
                        title: 'Mapy.cz',
                        map: 'https://mapserver.mapy.cz/turist-m/{z}-{x}-{y}',
                        attribution: '© <a href=\'https://www.seznam.cz\' target=\'_blank\' rel=\'noopener\'>Seznam.cz, a.s.</a>, © <a href=\'https://www.openstreetmap.org/copyright\' target=\'_blank\' rel=\'noopener\'>OpenStreetMap</a>'
                    }
                ];

                // select map
                let control = L.control.layers(null, null, {
                    position: 'topleft'
                });

                let layers = [];
                for (var i = 0; i <= 1; i++) {
                    let mapSub = maps[i];
                    let layer = L.tileLayer(mapSub.map, {
                        attribution: mapSub.attribution,
                        maxZoom: 18
                    }).addTo(this.map);

                    control.addBaseLayer(layer, mapSub.title);
                }

                control.addTo(this.map);

                this.map.on('click', (e) => {
                    bus.$emit('onLocationClicked', {
                        geo: e.latlng
                    });
                });
            },

            loadData: function() {
                let markers = L.layerGroup();

                axios.get('/api/sources').then((response) => {
                        let json = response.data.data;

                        json.forEach(element => {
                            markers.addLayer(this.createMarker(element));
                        });

                        markers.addTo(this.map);
                    }
                ).catch(() => {
                });
            },

            createMarker: function(element) {
                let icon = null;

                switch (element.type) {
                    case 'mask':
                        icon = this.createIcon('orange');
                        break;
                    case 'haberdasher':
                        icon = this.createIcon('red');
                        break;
                    case 'disinfection':
                        icon = this.createIcon('blue');
                        break;
                    default:
                        icon = this.createIcon('green');
                }

                var marker = L.marker(element.geo, {
                    icon: icon,
                    title: element.title,
                    alt: element.title
                });
                marker.bindPopup('<h1>' + element.title + '</h1>' + element.type);

                return marker;
            },

            createIcon: function(color) {
                return L.icon({
                    iconUrl: '/images/icon/' + color + '.png',
                    shadowUrl: '/images/vendor/leaflet/dist/marker-shadow.png',

                    iconSize: [25, 38], // size of the icon
                    // shadowSize: [50, 64], // size of the shadow
                    iconAnchor: [15, 40], // point of the icon which will correspond to marker's location
                    // shadowAnchor: [4, 0],  // the same for the shadow
                    popupAnchor: [0, -32] // point from which the popup should open relative to the iconAnchor
                });
            }
        }
    }
</script>

<style scoped>
    .div_map {
        height: 800px;
    }
</style>
